<mat-toolbar color="primary"> 
  <ul><a mat-button [routerLink]="['/']" routerLinkActive="router-link-active"> Register Student</a></ul>
  <ul><a mat-button [routerLink]="['/registerTeacher']" routerLinkActive="router-link-active">Register Teacher</a></ul>
  <ul><a mat-button [routerLink]="['/registerCourse']" routerLinkActive="router-link-active">Register Course</a></ul>
  <ul><a mat-button [routerLink]="['/registerMatter']" routerLinkActive="router-link-active"> Register Matter</a></ul>
</mat-toolbar>